<head>
  <script
    src="https://kit.fontawesome.com/a076d05399.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<div class="wrapper">
  <div class="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <div>
          <div class="logo-text" >Stay With Me</div>
        </div>


        <div class=" navbar-collapse" >

          <div class="div-link active" matRipple routerLink="/Login">
            Login
          </div>
          <div class="div-link active" matRipple matRippleColor="rgb(159 165 170 / 20%)"  routerLink="/Register">
            Register
          </div>

        </div>
      </div>
    </nav>
  </div>


  <div class="body-content">

    <mat-stepper  linear #stepper>

      <!-- step 1 input username email -->
      <mat-step >

        <ng-template matStepLabel>Step 1</ng-template>

        <div class="body">



          <div class="row">
            <div class="image col">
              <img
                src="https://img.freepik.com/premium-vector/forgot-password-account-login-web-page-protection-security-key-access-system-smartphone-computer-flat-vector-illustration_2175-1401.jpg?"
                alt="Forgot password"
              />
            </div>
            <div class="content col">
              <div class="text">
                <h1>Forgot</h1>
                <h1>Your Password?</h1>
              </div>
              <div class="content-input">
                <!-- form submit -->
                <form (ngSubmit)="getOtp()" >
                  <div>

                      <input
                      type="text"
                      placeholder="Email or Username"
                      [(ngModel)]="username"
                      matInput required name="username "
                    />


                  </div>
                  <div class="bottom-bar"></div>
                  <div class="input-btn">
                    <button type="submit" class="btn" matStepperNext [disabled]="!username">GET OTP</button>
                  </div>
                  <div class="login">
                    <a routerLink="/Login" routerLinkActive="active" class="login-link">Back to signin</a>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

      </mat-step>
      <!-- Step 2 OTP -->
      <mat-step >

        <ng-template matStepLabel>Step 2</ng-template>

        <div class="body">


          <div class="row">
            <div class="image col">
              <img
                src="https://img.freepik.com/free-vector/enter-otp-concept-illustration_114360-7897.jpg?t=st=1657717547~exp=1657718147~hmac=759ee225b9e2895114ff4909c8e76b606d9a95a00079db0f7da5993233a5adb6"
                alt="Verify OTP"
              />
            </div>

            <div class="content col">
              <div class="text">
                <h1>Verify OTP</h1>

              </div>
              <div class="content-input">
                <!-- form submit -->
                <form (ngSubmit)="inputOtp()">
                  <div>
                    <input required type="text" name="otp" placeholder="Enter the OTP" [(ngModel)]="otp" />
                  </div>
                  <div class="bottom-bar"></div>
                  <div class="input-btn">
                    <button type="submit" class="btn"  [disabled]="!otp" >Verify</button>
                  </div>
                  <div class="login">
                    <a  href="#" class="login-link">Resend again</a>
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>

      </mat-step>
      <!-- Step 3 input password -->
      <mat-step >

        <ng-template matStepLabel>Step 3</ng-template>

        <div class="body">



          <div class="row">
            <div class="image col">
              <img
                src="https://img.freepik.com/free-vector/reset-password-concept-illustration_114360-7886.jpg?t=st=1657718237~exp=1657718837~hmac=0bf8a5d8377f087038cf06655c664af2db33e32c77767d3e6342936cce2fcb13"
                alt="New Password"
              />
            </div>

            <div class="content col">
              <div class="text">
                <h1>Reset</h1>
                <h1>Password</h1>
              </div>
              <div class="content-input">
                <!-- form submit -->
                <form (ngSubmit)="inputPassword()">
                  <div>
                    <input required type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newpass" />
                  </div>
                  <div class="bottom-bar"></div>
                  <div style="margin-top: 1.2rem;">
                    <input required type="password" placeholder="Comfirm Password" [(ngModel)]="comfirmPassword"  name="comfirm"/>
                  </div>
                  <div class="bottom-bar"></div>
                  <div class="input-btn">
                    <button type="submit" class="btn"  [disabled]="!newPassword && !comfirmPassword">Reset Password</button>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>

      </mat-step>
    </mat-stepper>


  </div>
  <div class="footer">

    <div class="contact">
      <div class="col-contact">
        <div class="swm">STAYWITHME</div>
        <div class="homestay">HOMESTAY</div>
        <div class="mail"> Staywithme@gmail.com</div>
      </div>
      <div class="col-contact-about-us">
        <div class="about-us">About Us</div>
        <div class="about-us">Contact</div>
        <div class="about-us">Term & Conditions</div>
      </div>
      <div class="col-contact-link">
        <div class="about-us"><a class="nav-link" href="#"><i class="fa fa-facebook"
              style="color: white;"></i><span>Facebook</span> </a></div>
        <div class="about-us"><a class="nav-link" href="#"><i class="fa fa-twitter" style="color: white;"></i><span
              class="twiter">Twiter</span> </a></div>
        <div class="about-us"><a class="nav-link" href="#"><i class="fa fa-instagram" style="color: white;"></i><span
              class="twiter">Instagram</span> </a></div>
      </div>
      <div class="col-contact-copyright">
        <div class="col-1">All rights reserved.</div>
        <div class="col-1">Copyright <i class="fa-solid fa-copyright"></i> 2022.</div>
        <div class="col-1">StayWithMe.com.</div>
      </div>

    </div>
  </div>
</div>
